@media only screen and (max-width: 991px)
  .stock

    .container
      display: flex
      justify-content: center

      .img
        padding-bottom: 20px

        img
          transform: translateX(5%) rotateZ(-10deg)

          &:last-child
            transform: translateX(-5%) rotateZ(-10deg)

      .text
        left: 50%
        transform: translateX(-50%)
        max-width: 100%