@import "../../utils/dataStyle.module"

.aboutUs
  padding-top: 15px
  padding-bottom: 30px
  text-align: center

  p
    margin: 0

  .first
    margin-top: 15px

  .second
    margin-top: 5px

  hr
    border: 0
    height: 1px
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $hardRgba, rgba(0, 0, 0, 0))
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2)