@import "../../utils/dataStyle.module"

.aboutUs
  padding-top: 15px
  padding-bottom: 30px
  text-align: center
  position: relative

  .back
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    background-color: rgba(0,0,0,.25)
    z-index: 2

  .content
    border-radius: 4px
    margin-top: 15px
    position: relative
    z-index: 3

    p
      color: $txt
      background-color: rgba(255,255,255,.9)
      padding: 4px
      border-radius: 4px
      margin: 2px 0

@import "./media"