@import "../../utils/dataStyle.module"

.delivery
  padding-bottom: 30px

  .cards
    display: flex
    justify-content: center

    hr
      border: 0
      margin: 10px 0
      height: 1px
      width: 100%
      background: linear-gradient(to right, $hard, $hardRgba, $hard)

    .card
      display: flex
      flex-direction: column
      align-items: center

      .icon
        background-color: white
        box-shadow: $boxShadowLight
        padding: 15px
        border-radius: 100%

        img
          height: auto
          max-width: 30px

    .name
      color: $txt
      text-align: center
      margin-top: 5px
      display: flex
      justify-content: center
      align-items: center
      font-weight: 500
      font-size: 14px
      min-height: 42px

    .subName
      color: $txt
      font-size: 12px
      text-align: center

@import "./media"