@import "../../utils/dataStyle.module"

.logo
  margin: 0 auto
  height: 100px
  width: 100px
  background-image: url('../../public/images/logo.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  box-shadow: $bsLogo
  transform: translateY(-19px)