@import "../../utils/dataStyle.module"

.promotions
  height: 100%
  width: 100%
  background-repeat: no-repeat
  background-position: left top
  font-family: 'El Messiri', sans-serif
  padding-bottom: 14px

  .container
    position: relative
    display: flex
    flex-direction: column

    .boxes

      .boxProduct
        display: flex!important
        justify-content: center
        padding: 0 50px

        img
          cursor: pointer

@import "./media"

