@import "../../utils/dataStyle.module"

@media only screen and (max-width: 575px)
  .basket

    .product
      flex-direction: column
      padding: 5px
      position: relative

      .indexAndImg

        .index
          position: absolute
          left: 10px
          top: 10px

      .imgBox
        max-width: 70px

        img
          border-radius: 4px

      .content
        justify-content: space-between
        padding-right: 10px
        padding-top: 10px
        padding-bottom: 10px
        margin: 5px 0
        border-radius: 4px
        box-shadow: $bsBasket

  .bord
    display: none
