.basket
  min-height: 100vh

  .content

    .price

    .product
      display: flex
      align-items: center
      justify-content: space-between
      box-shadow: 0 1px 5px 0 rgba(0,0,0,.4)
      border-radius: 4px
      padding: 3px 0
      margin: 5px 0

      .indexAndImg
        display: flex
        align-items: center
        justify-content: space-between
        padding: 5px

        .index
          padding: 10px

          span

            &:first-child
              align-self: flex-start

        .imgBox
          max-width: 100px
          margin: 0 auto

          img
            border: 1px solid rgba(0,0,0,.2)
            height: auto
            max-width: 100%

      .content
        display: flex
        align-items: center
        justify-content: space-between
        padding-right: 10px
        flex: 1

        .name
          padding-left: 15px
          text-align: center
          position: relative
          font-size: 14px
          padding-right: 5px

          span
            display: block

      .delete
        padding: 5px

        button
          padding: 10px 20px
          border: 2px solid red
          background: none
          border-radius: 4px

.bord
  position: absolute
  top: -10px
  bottom: -10px
  right: -5px
  width: 1px
  background-color: rgba(0,0,0,.2)

@import "./media"