@import "../../utils/dataStyle.module"

.reviewImg
  padding: 0 25px

  img
    height: auto
    max-width: 100%!important
    position: relative
    z-index: 25

.imgBoxModal
  position: relative

  img
    height: auto
    max-width: 100%!important
    box-shadow: $boxShadowLight
    margin-top: 10px
    padding-bottom: 10px
    position: relative
    z-index: 25

@media only screen and (min-width: 576px)
  .imgBoxModal
    max-width: 450px!important

@media only screen and (max-width: 329px)
  .reviewImg
    padding: 0 30px