@import "../../utils/dataStyle.module"

.product
  font-family: 'El Messiri', sans-serif
  display: inline-block
  overflow: hidden
  border-radius: 4px
  color: white
  transition: .2s
  box-shadow: $boxShadowLight

  .box
    height: 100%
    width: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    background: linear-gradient(to bottom, $light 40%, $hard)

    .buttons
      display: flex
      width: 100%

      button
        color: white
        font-size: 14px
        padding: 14px 0
        cursor: pointer
        border: none
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        min-width: 50%
        border-top: 1px solid rgba(255,255,255,.7)
        transition: .2s
        background: transparent

        i
          font-size: 18px
          margin-right: 3px

        &:hover
          transition: .2s
          background: rgba(255,255,255,.4)

        &:first-child
          border-top-right-radius: 14px
          border-right: 1px solid $light

        &:last-child
          border-top-left-radius: 14px
          border-left: 1px solid $light

      .isBasket
        justify-content: center

        i
          font-size: 22px

    .subBox
      height: 100%

      .imgBox
        padding: 2px
        cursor: pointer

        img
          height: auto
          max-width: 100%
          box-shadow: 0 2px 0 0 rgba(0,0,0,.2)

      .descr
        width: 100%
        padding: 10px 3px

        .name
          font-size: 18px
          text-transform: capitalize
          text-align: center
          margin-bottom: 10px

        .sizes
          padding-top: 7px
          padding-bottom: 15px
          font-size: 15px
          text-align: left

          .size
            margin-left: 3px
            padding: 3px 7px
            margin-right: 1px
            border-radius: 4px
            cursor: pointer
            transition: .2s
            color: white

          .activeSize
            transition: .2s
            color: $hard
            border: 1px solid rgba(255,255,255,.7)
            background: rgba(255,255,255,.3)

        .price
          font-size: 15px
          display: flex
          align-items: center

          span
            margin-right: 3px

          .old

          .new

.titleForm

  .titleFormPrice
    color: white
    display: block
    font-size: 32px
    font-weight: 800

    small
      margin-left: 3px
      font-weight: 800

@import "./media"