@import "../../utils/dataStyle.module"

.stockMin
  font-family: 'Amatic SC', cursive
  cursor: pointer
  margin: 30px 0
  padding: 5px
  background: rgba(255,255,255,1)
  position: relative
  border-radius: 4px
  transition: .2s
  box-shadow: $boxShadowLight

  &:hover
    transition: .2s
    box-shadow: $boxShadowMiddle

  .container

    .box

      .buttons
        display: flex
        justify-content: space-around
        padding: 10px 0

        button
          background: transparent
          font-size: 18px
          display: flex
          align-items: center
          justify-content: center
          font-weight: 600
          padding: 7px 20px
          box-shadow: $boxShadowLight
          transition: .2s
          color: black
          border: 2px solid #ff54b0

          i
            margin-right: 5px

          &:hover
            background: #ff54b0
            color: white

      .imgBox
        max-width: 240px

        img
          height: auto
          max-width: 100%
          box-shadow: 0 0 2px 1px #F2AECC

      .descr
        padding-top: 10px

        .name
          text-align: center
          color: #ffb3ff
          font-size: 30px
          font-weight: 700
          text-transform: capitalize

        .sizes

          span
            font-size: 24px
            font-weight: 500
            margin: 0 3px

        .price
          padding-bottom: 5px

          span
            font-size: 24px
            font-weight: 500
            margin: 0 3px

          .old

          .new
            color: red

      .discount
        position: absolute
        top: -20px
        right: -20px
        background: linear-gradient(to top, #ffb3ff, #ff54b0)
        border-radius: 100%
        height: 80px
        width: 80px
        padding: 3px
        display: flex
        justify-content: center
        align-items: center
        box-shadow: $boxShadowLight

        span
          color: white
          font-size: 32px
          font-weight: 700

        img
          height: auto
          max-width: 50px



.titleForm

  .titleFormPrice
    color: red
    display: block
    font-size: 32px
    font-weight: 800

    small
      margin-left: 3px
      font-weight: 800