@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Playfair+Display:400,400i,700,700i,900,900i&subset=cyrillic')
@import "../../utils/dataStyle.module"
$textShadow: 1px 1px 1px rgba(0,0,0,.6)
$boxShadow: 0 2px 14px 0 rgba(0,0,0,0.4)
$boxShadowTrigger: 0 1px 5px rgba(0,0,0,.4)

.titleScroll
  padding-bottom: 30px
  min-height: 100%
  display: flex
  justify-content: center
  padding-top: 100px
  background-image: url('../../public/images/backTitleScroll2.jpg')
  background-repeat: no-repeat
  background-position: bottom
  background-size: cover
  position: relative

  .triggers

    .trigger
      display: flex
      align-items: start
      padding: 3px
      margin: 3px 0
      box-shadow: $boxShadowLight

      p
        font-size: 18px
        color: white
        text-shadow: $textShadow
        margin: 0

      i
        color: #ff497d
        margin-right: 5px
        margin-top: 3px
        font-size: 20px
        transform: skewX(20deg)
        text-shadow: $textShadow

      img
        margin-left: 5px
        height: 50px
        width: 50px
        box-shadow: $bsBasket

    hr
      height: 1px
      background: $hard
      width: 100%
      box-shadow: $bsBasket
      margin-top: 0

  .back
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(0,0,0,.3)

  .title
    margin-top: 15px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    .subTitle
      display: inline-block
      vertical-align: top

      h1
        margin-left: auto
        margin-right: auto
        text-align: center
        text-transform: uppercase
        font-weight: 700
        color: white
        position: relative
        z-index: 22
        text-shadow: $textShadow
        font-size: 3em

      p
        text-align: center
        color: white
        font-size: 2em
        text-shadow: $textShadow
        margin-bottom: 20px


@import "./media"


