@media only screen and (max-width: 991px)
  .navBarBox

    .navBar

      .link
        margin: 5px 0

      .promotions
        margin-bottom: 10px

        span

        &:hover

          span

      .social
        order: 0

      .navBarCollapse
        order: 1
        padding-bottom: 10px

        .navBarNav