@import "../../utils/dataStyle.module"
$backHamRow: linear-gradient(to bottom, #ffe6ff, #ffb3ff)
$backHamContainerScroll: linear-gradient(to bottom, rgba(255, 230, 255, .8), rgba(255, 179, 255, .8))
$backHamList: linear-gradient(to left bottom,  #ffe6ff, #ffb3ff)
$boxShadow: 0 3px 6px 0 rgba(0,0,0,.2)

.navBarBox
  z-index: 999
  position: fixed!important
  width: 100%
  font-family: 'El Messiri', sans-serif
  overflow: hidden
  transition: .2s
  padding: 40px

  .navBar
    position: relative
    background: $backHamRow
    padding-top: 2px
    padding-bottom: 2px
    border-radius: 4px
    box-shadow: $boxShadow

    button
      border: none
      padding: 7px 10px

      span
        background-image: url('../../public/images/ham.png')
        height: 25px
        width: 25px

    .link
      color: white
      font-size: 14px
      font-weight: 600
      text-transform: uppercase
      padding: 7px 30px

      &:hover
        transition: .2s
        color: #e56cf2

      span
        padding-top: 2px

    .promotions
      font-size: 18px
      margin-top: 15px
      margin-bottom: 15px

      span
        box-shadow: $boxShadowLight
        padding: 5px 50px
        background: linear-gradient(to bottom, #ff66ff, #e600e6)

      &:hover
        color: white

        span
          transition: .2s
          background: linear-gradient(to bottom left, #ff66ff, #e600e6)
          box-shadow: $boxShadow

    .social
      padding-top: 4px
      height: 100%

    .navBarCollapse

      .navBarNav
        margin-left: auto
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

.navBarBoxScroll
  transition: .2s
  padding-left: 0
  padding-right: 0
  padding-top: 0

  .navBar
    border-top-left-radius: 0
    border-top-right-radius: 0


@import "./media"


